*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App{
  text-align: center;
}
.app-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main{
  background-color: #ec645b;
  width: 500px;
  height: min-content;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.35);
}
.title{
  text-align: center;
}
.add-item-box{
  background: #fbc1bb;
  color: #ec645b;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}
.add-item-box svg{
  margin: 5px;
}